.the-heading{
    font-size: 80px;
    color: teal;
    text-align: center;
    margin: 10px
}
.the-text {
    color: teal;
    padding: 10px;
    font-size: 25px;
}
.places{ 
    text-align: center;
    padding-top: 20px;;
}
.places-gallery{
          margin-top: 20px;
}
.places-gallery img{
    height: 500px;
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
}
