.the-heading{
    font-size: 80px;
    color: teal;
    text-align: center;
    margin: 10px
}
.the-text {
    color: teal;
    padding: 10px;
    font-size: 25px;
}
.gallery{
    text-align: center;
    padding: 20px;
}
.gallery-wrapper{
    margin-top: 40px;
    text-align: center;
}
.zoom{
    width:400px;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    display: inline-block;
    margin: 15px;
}

.zoom img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;}
   
.zoom img:hover{
    transform: scale(1.2,1.2);
    cursor: pointer;
}