.holidays{
    height: 450px;
    width: 1535px;
    background: url("../../../public/Image/Ocean.jpeg") no-repeat;
    background-size: cover;
    text-align: center;   
}
.holidays .the-heading{
    font-size: 80px;
    color: white;
    text-align: center;
    padding: 45px 0px 20px 0px;
    margin: 0px;
}
.the-text {
    color: white;
    padding-top: 5px;
    font-size: 25px;
}
.the-text:nth-child(4){
    margin-bottom: 30px;
}
.btn {
    margin-top: 30px;
}