.holidays{
    height: 370px;
    width: 942px;
    background: url("../../../public/Image/Ocean.jpeg") no-repeat;
    background-size: cover;
    text-align: center;   
}
.holidays .the-heading{
    font-size: 80px;
    color: white;
    text-align: center;
    padding-top: 45px ;
    margin: 0px;
}
.the-text {
    padding-top: 25px;
    font-size: 25px;
}
.the-text:nth-child(4){
    margin-bottom: 30px;
}
.btn {
    margin-top: 30px;
}